src/**/*.pyc
src/database2.sqlite3
.idea/
src/**/__pycache__/
packaging/PKGBUILD/dist/*.pkg.*
packaging/PKGBUILD/MyAnimeManager3/
packaging/PKGBUILD/pkg/
packaging/PKGBUILD/src/
packaging/windows/dist/
packaging/windows/*.exe
pwiz.py
src/venv/

MyAnimeManager3.spec
venv/
packaging/windows/src/
packaging/windows/bin/
